SYNCUP_BIND=127.0.0.1:3000
SYNCUP_ENV=development
SYNCUP_ALLOWED_ORIGINS=http://127.0.0.1:1420,http://127.0.0.1:5173
SYNCUP_PUBLIC_URL=http://127.0.0.1:3000
RUST_LOG=syncup_game_server=info,tower_http=info
